<%- include('../bootheader') -%>
<%- include('./menubar') -%>

<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">
      MGA: <%= course.name %></h1>
    <div class="p-2">
        <%= course.description %>
        <br>
        Created at <%= course.createdAt %>
        <br>
        <%if (mlaCourse) {%>
          Linked to MLA Course: 
          <a href="/showCourse/<%= mlaCourse._id %>">
             <%= mlaCourse.name %> 
          </a>
        <% } else {%>
          No MLA Course linked
        <% } %>

    </div>
      <div class="p-2">
        <a href="/mathgrades/deleteCourse/<%= course._id %>">Delete Course</a>
      </div>
      <div class="p-2">
        Summary of Mastery
        <a href="/mathgrades/showMastery/<%= course._id %>">as html</a> or
        <a href="/mathgrades/showMastery/<%= course._id %>?csv=1">as CSV</a>
      </div>
      <h1>Exams</h1>
      <ul>
        <% for (let i = 0; i < exams.length; i++) { %>
          <li>
            <a href="/mathgrades/showExam/<%= course._id %>/<%= exams[i]._id %>">
              <%= exams[i].name %>
            </a>
            <a href="/mathgrades/deleteExam/<%= course._id %>/<%= exams[i]._id %>">
              <span style="color:red">(Delete)</span>
            </a>
          </li>
        <% } %>
      </ul>
      </div>
      <hr>
      <div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th style="width:25%">Action</th>
            <th style="width:75%">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><h2>Upload New Exam</h2></td>
            <td><form method="post" 
              action="/mathgrades/uploadGrades/<%= course._id %>" 
              enctype="multipart/form-data">
          <div class="mb-3">
            Exam Name: <input type="text" name="examname" class="form-control" placeholder="Name">
          </div>
          <div class="mb-3">
            <label for="grades" class="form-label">Grades</label>
            <input required class="form-control" type="file" name="grades" >
          </div>
          <input class="btn btn-lg btn-primary" type="submit">
        </form></td>
          </tr>

          <tr>
            <td><h2>Upload/Reupload Section Info</h2></td>
            <td><form method="post" 
              action="/mathgrades/uploadSectionData/<%= course._id %>" 
              enctype="multipart/form-data">
          <div class="mb-3">
            <label for="sections" class="form-label">Section Data (section,name,email in csv)</label>
            <input required class="form-control" type="file" name="sections" >
          </div>
          <input class="btn btn-lg btn-primary" type="submit">
        </form></td>
          </tr>

          <tr>
            <td><h2>Link to MLA course</h2>
              <p>
                To link to an MLA course, you need the PIN for the course.
                You can find this in the course settings in MLA. Once a course
                is linked, the MLA course can use the mastery data from the MGA 
                course to create personalized exams.
              </p></td>
            <td><form method="post" 
              action="/mathgrades/linkMLACourse/<%= course._id %>" >
          <div class="mb-3">
            <label for="coursePinMLA" class="form-label">MLA course PIN:</label>
            <input  
                  class="form-control" 
                  type="text" 
                  value="<%= course.coursePinMLA %>"
                  name="coursePinMLA" >
          </div>
          <input class="btn btn-lg btn-primary" type="submit">
        </form></td>
          </tr>

          <tr>
            <td><h2>Rename Course</h2></td>
            <td>
              <form method="post" action="/mathgrades/renameCourse/<%= course._id %>">
                <div class="mb-3">
                  <label for="courseName" class="form-label">New Course Name:</label>
                  <input  
                        class="form-control" 
                        type="text" 
                        value="<%= course.name %>"
                        name="courseName" >
                </div>
                <input class="btn btn-lg btn-primary" type="submit">
              </form>
            </td>
          </tr>

          <tr>
            <td></td>
            <td></td>
          </tr>

        </tbody>
      </table>
        
        
      </div>

  </div>
</div>

<%- include('../bootfooter') -%>
<%- include('../htmlfoot') -%>