<%- include('../bootheader') -%>
<%- include('./menubar') -%>

<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">
      Course: <%= course.name %></h1>
    <h2 class="pb-2 border-bottom">
         Exam: <%= exam.name %></h1>
    <div class="p-2">
        Last updated at <%= exam.createdAt %>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Student</th>
              <th>Email</th>
              <th>Skills Mastered</th>
              <th>Skills Skipped</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < grades.length; i++) { %>
              <tr>
                <td>
                  <a href="/mathgrades/showStudent/<%= course._id %>/<%= exam._id %>/<%= grades[i]._id %>">
                    <%= grades[i].name %>
                  </a>
                </td>
                <td><%= grades[i].email %></td>
                <td><%= grades[i].skillsMastered %></td>
                <td><%= grades[i].skillsSkipped %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
    </div>

  </div>
</div>

<%- include('../bootfooter') -%>
<%- include('../htmlfoot') -%>