<%- include('bootheader') -%>
    <%- include('menubar') -%>
        <div class="p-5 mb-4 bg-light">
            <div class="container-fluid ">
                <h1>Add Problem</h1>
            </div>
        </div>

        <form method="post" action="/saveProblem/<%= psetId %>">
            <br>
            <input type="checkbox" name='visible' checked value='visible'>
            Visible: students can see the problem.
            <br>
            <input type="checkbox" name='answerable' checked value='answerable'>
            Answerable: students can type in an answer to the problem and either
            save it or submit it.
            <br>
            <input type="checkbox" name='submitable' checked value='submitable'>
            Submitable: students can submit their answer (otherwise they can only save)
            <br>

            <input type="checkbox" name='peerReviewable' checked value='peerReviewable'>
            Peer Reviewable: students who have submitted their answer can review the
            answers of their peers in a doubly blind anonymous fashion
            <hr>
            Problem Title:<br>
            <input type="text" name="description">
            <br>
            Problem Description:<br>
            <textarea name="problemText" cols="100" rows="10"></textarea>
            <br>

            Rubric:<br>
            Points: <input type="text" name="points"><br>
            <textarea name="rubric" cols="100" rows="10"></textarea>
            <hr>
            <h2>Skills required to fully solve this problem</h2>
            Check all that apply.
            <hr>
            <% for(let i=0; i<skills.length; i++){ %>
                <input type="checkbox" value="<%= skills[i].id %>">
                <%= skills[i].name %> <br>
                    <% } %>
                        <hr>
                        <input class="btn btn-lg btn-primary" type="submit">
        </form>

        <%= psetId %>


            <%- include('bootfooter') -%>