<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1><%= name %></h1>
    </div>


    <% if (user._id.equals(ownerId)) { %>
        You own this course<br>
        <form method="post" action="/saveProblemSet/<%= courseId %>">
            Problem Set Name: <input type="text" name="name"><br>
            Visible:<input type='checkbox' name="visible" value="visible"><br>
            <input class="btn btn-primary" type="submit" value="Save">
        </form>
    <% } else { %>
        You are a student in this course and may not add problem sets.
    <%} %>


<%- include('bootfooter') -%>
