<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">
      Add Problem
    </h1>
    <div class="p-2">
      <form method="post" action="/saveProblem/<%= psetId %>">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value='visible' name='visible' id="visible" checked>
          <label class="form-check-label" for="visible">
            Visible: students can see the problem.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="answerable" name='answerable' id="answerable" checked>
          <label class="form-check-label" for="answerable">
            Answerable: students can type in an answer to the problem and either
            save it or submit it. </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name='submitable' id="submitable" checked value='submitable'>
          <label class="form-check-label" for="submitable">
            Submitable: students can submit their answer (otherwise they can only save)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name='peerReviewable' id="peerReviewable" checked value='peerReviewable'>
          <label class="form-check-label" for="peerReviewable">
            Peer Reviewable: students who have submitted their answer can review the
            answers of their peers in a doubly blind anonymous fashion
          </label>
        </div>
        <hr>
        <div class="mb-3 col-lg-4">
          <label for="description" class="form-label">Problem Title</label>
          <input type="text" class="form-control" name="description" id="description">
        </div>
        <div class="mb-3">
          <label for="problemText" class="form-label">Problem Description</label>
          <textarea name="problemText" class="form-control" cols="100" rows="10"></textarea>
        </div>
        <b>Rubric:</b><br>
        <div class="row mb-1">
          <label for="points" class="col-sm-1 col-form-label">Points</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" name="points" id="points">
          </div>
        </div>
        <textarea class="form-control" name="rubric" cols="100" rows="10"></textarea>
        <hr>
        <h2>Skills required to fully solve this problem</h2>
        Check all that apply.
        <hr>
        <% for(let i=0; i<skills.length; i++){ %>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="skills" value="<%= skills[i].id %>" id="check<%= skills[i].id %>">
          <label class="form-check-label" for="check<%= skills[i].id %>">
            <%= skills[i].name %>
          </label>
        </div>
        <% } %>
        <hr>
        <input class="btn btn-lg btn-primary" type="submit">
      </form>

      <%= psetId %>
    </div>
  </div>
</div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>