<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Add Problem</h1>
    </div>

    <form method="post" action="/saveProblem/<%= psetId %>">
        <br>
        Visible: <input type="checkbox" name='visible'
                        value='visible'> <br>
        Reviewable: <input type="checkbox" name='reviewable'
                        value='reviewable'>
        <hr>
        Problem Title:<br>
        <input type="text" name="description">
        <br>
        Problem Description:<br>
        <textarea name="problemText" cols="100" rows="10"></textarea>
        <br>
        Problem Template:<br>
        <textarea name="problemTemplate" cols="100" rows="10"></textarea>
        <br>
        Rubric:<br>
        Points: <input type="text" name="points"><br>
        <textarea name="rubric" cols="100" rows="10"></textarea>
        <br>
        Skills:
         <select name="skills" multiple size="5">
           <% for(let i=0; i<skills.length; i++){ %>
           <option value="<%= skills[i].id %>"> <%= skills[i].name %> </option>
           <% } %>
          </select>
<hr>
        <input class="btn btn-lg btn-primary" type="submit">
    </form>

    <%= psetId %>


<%- include('bootfooter') -%>
