<%- include('bootheader') -%>
<%- include('menubar') -%>
  <% if (!course.ownerId.equals(user._id)) { %>
      You must own the course to edit the problems
  <% } else { %>
    <div class="jumbotron">
        <h1>Edit Problem</h1>
    </div>

    <form method="post" action="/updateProblem/<%= problem._id %>">
        Problem Title:<br>
        <input type="text" name="description" value="<%= problem.description %>">
        <br>
        Problem Description:<br>
        <textarea name="problemText" cols="100" rows="10"><%= problem.problemText %></textarea>
        <br>
        Rubric:<br>
        Points: <input type="text" name="points" value="<%= problem.points %>"><br>
        <textarea name="rubric" cols="100" rows="10"><%= problem.rubric %></textarea>
        <br>
        <input class="btn btn-lg btn-primary" type="submit">
    </form>

  <% } %>

<%- include('bootfooter') -%>
