<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Edit Skill</h1>
    </div>

    <form method="post" action="/editSkill/<%= skill._id %>">
        Skill Name:<br>
        <input type="text" name="name" value="<%= skill.name %>">
        <br>
        Skill Description:<br>
        <textarea name="description" cols="100" rows="10"><%= skill.description %></textarea>
        <br>
        <input class="btn btn-lg btn-primary" type="submit">
    </form>


<%- include('bootfooter') -%>
