<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">
      Edit Skill </h1>
    <div class="p-2">

      <form method="post" action="/editSkill/<%= courseId %>/<%= skill._id %>">

        <div class="mb-3">

          <label for="name" class="form-label">Skill Name</label>
          <input required class="form-control" type="text" name="name" value="<%= skill.name %>">
        </div>

        <div class="mb-3">

        </div>
          Short Name (3 to 6 characters): 
          <input required 
                minlength="3" maxlength="6"  size="8"
                value="<%= skill.shortName %>"
                type="text" name="shortName">
        </div>

        <div class="mb-3">
          <label for="level" class="form-label">Skill Level</label>
          <select required class="form-control" type="text" name="level">
            <option value="F" <%= skill.level=="F"?'selected':'' %>
              >fundamental</option>
            <option value="G" <%= skill.level=="G"?'selected':'' %>
              >general</option>
          </select>
        </div>
        <div class="mb-3">

          <label for="description" class="form-label">Skill Description</label>
          <textarea class="form-control" name="description" cols="100" rows="10"><%= skill.description %></textarea>
        </div>

        <input class="btn btn-lg btn-primary" type="submit">
      </form>
    </div>
  </div>
</div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>