<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">
      <%= problemSet.name %> </h1>
    <div class="p-2">
      <% jsonGrades = [] %>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>N </th>
            <th>Student</th>
            <% for(i = 0; i<= problems.length-1; i++){  %>
            <th> <a href="/showProblem/<%= courseId%>/<%= psetId%>/<%= problems[i]._id %>">
                P<%= i %><br> <%= problems[i].skills.length %>

              </a></th>
            <% } %>
            <th>Total</th>
            <!--
                <th>Count</th>
                <th>Average</th>
            -->
          </tr>
        </thead>
        <tbody>
          <% for(i = 0; i< studentsInfo.length; i++){
                let psetScore = 0
                let psetCount = 0 // number of problems graded by TAs
                let jsonRow = {email:studentsInfo[i].googleemail, name:studentsInfo[i].googlename,grades:[]}
                %>
          <tr>
            <td><%= i %></td>
            <td> <%= studentsInfo[i].googleemail %>

            </td>
            <% for(j = 0; j<= problems.length-1; j++){
                        // find the scores of the reviews of this problem
                     const studentAnswers =
                         answers.filter(a =>{
                             return a.studentId.equals(studentsInfo[i]._id) &&
                                    a.problemId.equals(problems[j]._id)
                         })
                     //console.log(`\n\n${i} ${j} studentAnswers= ${JSON.stringify(studentAnswers)}`)



                     const grades =
                        taReviews
                          .filter(
                           r =>{
                               let zz = (r.problemId && r.problemId.equals(problems[j]._id))
                                   && (r.studentId && r.studentId.equals(studentsInfo[i]._id))
                                   //console.log(`${zz} ${i} ${j} ${r.problemId} ${problems[j]._id} ${studentsInfo[i]._id} ${r.studentId}`)

                               return(zz)
                           })
                           answerId = null
                           if (grades.length>0) {
                             answerId = grades[0].answerId
                           }



                        %>
            <td>
              <% if (studentAnswers.length == 0){
                                    jsonRow.grades.push(-1)
                                    %>
              <!-- No answer to review -->
              <a href="/gradeProblemWithoutAnswer/<%= problemSet.courseId%>/<%= problems[j]._id %>/<%= studentsInfo[i]._id  %>">+</a>

              <% } else if (!answerId) {
                                    jsonRow.grades.push(0)
                                   %>
              <a style="color:red" href="/gradeProblem/<%= courseId%>/<%= psetId%>/<%= problems[j]._id %>/<%= studentsInfo[i]._id  %>">
                No TA reviews yet
              </a>
              <% } else { %>

              <a href="/showReviewsOfAnswer/<%= courseId %>/<%= psetId%>/<%= answerId %>">
                <% let scores = grades.map((r) => r.points)
                                       let avgScore =
                                            Math.ceil(
                                                scores.reduce((a,b) => a + b, 0)/scores.length
                                                )
                                       psetScore += avgScore
                                       psetCount += 1
                                       jsonRow.grades.push(avgScore)
                                    %>
                <%= JSON.stringify(scores) %> <br>
                <%=  avgScore %>
              </a>
              <% } %>
            </td>
            <% } %>
            <td> <% jsonRow.grades.push(psetScore)
                            jsonRow.grades.push(psetCount)
                            let average = psetCount>0?Math.round(psetScore/psetCount*10)/10:-1
                            jsonRow.grades.push(average)
                            jsonGrades.push(jsonRow)%>
              <% if (psetCount>0){%>
              <%= psetScore %> </td>
            <!--
                         <td><%= psetCount %></td>
                         <td> <% if (psetCount>0){%>
                             <%= average %>
                             <%}%>
                             </td>
                         -->
            <%} %>
          </tr>
          <% } %>

        </tbody>

      </table>
      <hr>

      <% if (isOwner) { %>
        <a href="/postGrades/<%= problemSet.courseId %>/<%= problemSet._id %>" 
           class="btn btn-sm btn-warning">
              Post Grades
        </a>
        <% } %>
  <hr>
  
      <pre><%  jsonGrades.sort((row1,row2)=>
      row1.grades[row1.grades.length-1] - row2.grades[row2.grades.length-1])
    for (let i=0; i<jsonGrades.length; i++){
            let row = jsonGrades[i]
            let gs = row.grades
%><%= row.email %>, <%= row.name %> <% for(let j=0; j<gs.length; j++){ %>, <%= gs[j] %> <% } %>
<% } %>
</pre>




      <hr>


<a href="/showCourse/<%= problemSet.courseId %>" class="btn btn-sm btn-primary">Back to List of Problem Sets</a>


    </div>
  </div>
</div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>
