<%- include('bootheader') -%>
<% if (loggedIn) { %>
<%- include('menubar') -%>
<% } %>

<div class="p-lg-5 p-4 mb-lg-3 mb-0 bg-light border">
  <div class="container-fluid">
    <h1>Mastery Learning/Specs Grading/Peer Review App</h1>
    <span class="lead fs-2">Promoting Effective and Engaged Learning</span>

    
    <% if (loggedIn){ %>
    <form method="post" action="/joinCourse">
      <div class="mx-lg-3 mx-2 my-1 row g-lg-3 g-2 align-items-center">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label"> Enroll in a course
          </label>
        </div>
        <div class="col-auto">
          <div class="input-group">
            <input required type="input" name="coursePin" class="form-control" aria-describedby="ccInline" placeholder="7 digit pin">
            <button class="btn btn-primary" type="submit"><i class="bi bi-box-arrow-in-right"></i>
            </button>
          </div>
        </div>
        <div class="col-auto">
          <span id="ccInline" class="form-text">(or
            <a href="/createCourse" class="text-decoration-none">create a new
              course</a>,
            or
            <a href="/stats" class="text-decoration-none">view usage
              statistics</a>)</span>
            or
            <span style="padding:8px; border:thick solid red; width:20%">
              <a href="/mathgrades">View Math Grades</a>
           </span>
          </div>
      </div>
    </form>
    <% } %>

  </div>
</div>
<% if (!loggedIn){ %>
<h2>You must login through Brandeis to use the Peer Review App:
  <a class="btn btn-lg btn-danger" href="/auth/google"> Login</a>
</h2>
<% } else {%>
<hr>
<div class="card-group">
  <div class="card text-bg-warning">
    <div class="card-header">Courses I'm taking</div>
    <ul class="pt-1 mb-2">
      <% for(i=0; i<=coursesTaken.length-1; i++){ %>
      <li>
        <a href="/showCourse/<%= coursesTaken[i]._id %>">
          <%= coursesTaken[i].name %>
        </a>
      </li>
      <% } %>
    </ul>
  </div>
  <div class="card bg-primary">
    <div class="card-header">Courses I'm TAing</div>
    <ul class="pt-1 mb-2">
      <% for(i=0; i<=coursesTAing.length-1; i++){ %>
      <li>
        <a class="link-info" href="/showCourse/<%= coursesTAing[i]._id %>">
          <%= coursesTAing[i].name %>
        </a>
      </li>
      <% } %>
    </ul>

  </div>
  <div class="card bg-danger">
    <div class="card-header">Courses I'm Teaching</div>
    <ul class="pt-1 mb-2">
      <% for(i=0; i<=coursesOwned.length-1; i++){ %>
      <li>
        <a class="link-info" href="/showCourse/<%= coursesOwned[i]._id %>">
          <%= coursesOwned[i].name %>
        </a>
      </li>
      <% } %>
    </ul>
  </div>
</div>



<%} %>
<br>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>