<html>
<%- include('bootheader') -%>
<% if (loggedIn) { %>
<%- include('menubar') -%>
<% } %>
<body style="background-color:rgb(248, 238, 221)">
<div class="p-lg-5 p-4 mb-lg-3 mb-0 bg-white">
  <div class="container-fluid">
    <span class="text-center"><h1>
      <span style="color:rgb(0, 0, 0)" >Mastery Learning</span>
      <span class="lead fs-2 text-secondary" >/</span>
      <span style="color:rgb(1, 1, 1)" >Specs Grading</span>
      <span class="lead fs-2 text-secondary">/</span>
      <span style="color:rgb(0, 0, 0)" >Peer Review App</span>
    </h1></span>
    <p class="lead fs-2 text-center">Promoting Effective and Engaged Learning</p>
    
 
  </div>
</div>
<% if (!loggedIn){ %>
<h2>You must login through Brandeis to use the Peer Review App:
  <a class="btn btn-lg btn-danger" href="/auth/google"> Login</a>
</h2>
<% } else {%>
<hr>
<div class="card-group">
  <div class="card text-bg-warning">
    <div class="card-header text-white text-center"><h4>Courses I'm taking</h4></div>

    <% if (loggedIn){ %>
      <form method="post" action="/joinCourse">
        <div class="mx-lg-3 mx-5 my-1 row g-lg-3 g-3 align-items-center justify-content-center">
          <div class="col-auto">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text border border-white border-0  id="basic-addon1"; style="background-color:rgb(255, 233, 182)"><small> Enroll in a course</small></span>
              </div>
              <input type="text" name="coursePin" class="form-control-sm aria-describedby="ccInline" placeholder="7 digit pin">
              <button class="btn" style="background-color:rgb(167, 167, 167)" type="submit"><i class="bi bi-box-arrow-in-right"></i>
              </button>
            </div>  

            <!-- <div class="row">
              <label for="inputPassword6" class=" col-form-label"><small> Enroll in a course
              </small></label>
            </div>            -->
          </div>
        </div>
      </form>
    <% } %> 

    <ul class="pt-2 mb-5">
      <% for(i=0; i<=coursesTaken.length-1; i++){ %>

      <li>
        <a href="/showCourse/<%= coursesTaken[i]._id %>">
          <%= coursesTaken[i].name %>
        </a>
      </li>
      <% } %>
    </ul>

  </div>
  <div class="card bg-primary">
    <div class="card-header text-white text-center"><h4>Courses I'm TAing<h4></div>
    <ul class="pt-3 mb-5">
      <% for(i=0; i<=coursesTAing.length-1; i++){ %>
      <li>
        <a class="link-info" href="/showCourse/<%= coursesTAing[i]._id %>">
          <%= coursesTAing[i].name %>
        </a>
      </li>
      <% } %>
    </ul>

  </div>
  <div class="card bg-danger">
    <div class="card-header text-white text-center"><h4>Courses I'm Teaching</h4></div>
    <% if (loggedIn){ %>
      <form method="post" action="/joinCourse">
        <div class="mx-lg-3 mx-2 my-1 row g-lg-3 g-2 align-items-center">
          <div class="col text-center">
            <a href="/createCourse" class=" btn btn-sm shadow-sm rounded"; style="background-color:rgb(255, 194, 194)" >Create a new course</a>
          </div>

        </div>
      </form>
      <% } %>
    <ul class="pt-2 mb-5">
      <% for(i=0; i<=coursesOwned.length-1; i++){ %>
      <li>
        <a class="link-info" href="/showCourse/<%= coursesOwned[i]._id %>">
          <%= coursesOwned[i].name %>
        </a>
      </li>
      <% } %>
    </ul>
  </div>
</div>



<%} %>
<br>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>
</body>
</html>