<%- include('bootheader') -%>
<% if (loggedIn) { %>
<%- include('menubar') -%>
<% } %>

<div class="p-lg-5 p-4 mb-lg-3 mb-0 bg-light border">
  <div class="container-fluid">

    <h1>Mastery Learning/Specs Grading/Peer Review App</h1>
    <span class="lead fs-2">Promoting Effective and Engaged Learning</span>

    
    <% if (loggedIn){ %>
      <hr>

      
 
        
    
    <% } %>


<% if (!loggedIn){ %>
<h2>You must login through Brandeis to use the Peer Review App:
  <a class="btn btn-lg btn-danger" href="/auth/google"> Login</a>
</h2>
<% } else {
  const now = new Date();
  %>
  <% if (show=='currentOnly'){ %>
    <a href="/mla_home/showAll">Show Archived and Current Courses</a>
  <% } else { %>
    <a href="/mla_home">Show Current Courses Only</a>
  <% } %>

<hr>
<div class="card-group">
  <div class="card text-bg-warning p-2">
    <div class="card-header">Courses I'm taking</div>
    <% if (coursesTaken.length==0) { %>
      <div class="card-body">
        <p class="card-text">You are not taking any courses.</p>
      </div>
    <% } else { %>
    <ul class="pt-1 mb-2">
      <% for(i=0; i<=coursesTaken.length-1; i++){ 
           if (show=='currentOnly' 
               && (!coursesTaken[i].stopDate 
                  || coursesTaken[i].stopDate < now)) {
                    continue;}
          
        %>
      <li>
        <a href="/showCourse/<%= coursesTaken[i]._id %>">
          <%= coursesTaken[i].name %>
        </a>
      </li>
      <% } %>
    </ul>
    <% } %>
    <form method="post" action="/joinCourse">
      <input required type="input" 
            name="coursePin" 
            placeholder="Enter 7 digit pin">
      <input  class="btn btn-primary" 
              type="submit"
              value="Enroll in the course">
    </form>
  </div>

  <% if (isTA) { %>
  <div class="card bg-primary p-2">
    <div class="card-header">Courses I'm TAing</div>
    <ul class="pt-1 mb-2">
      <% for(i=0; i<=coursesTAing.length-1; i++){
        if (show=='currentOnly' 
        && (!coursesTAing[i].stopDate 
           || coursesTAing[i].stopDate < now)) {
             continue;} %>
      <li>
        <a class="link-info" href="/showCourse/<%= coursesTAing[i]._id %>">
          <%= coursesTAing[i].name %>
        </a>
      </li>
      <% } %>
    </ul>
    </div>

  <% } %> 

  <% if (isInstructor) { %> 
  <div class="card bg-danger p-2">
    <div class="card-header">Courses I'm Teaching</div>

    <ul>
      <% for(i=0; i<=coursesOwned.length-1; i++){ 
        if (show=='currentOnly' 
        && (!coursesOwned[i].stopDate 
           || (coursesOwned[i].stopDate < now))) {
             continue;}%>
      <li>
        <a class="link-info" href="/showCourse/<%= coursesOwned[i]._id %>">
          <%= coursesOwned[i].name %>
        </a>
      </li>
      <% } %>
    </ul>

    <div class="row p-2">
      
        
          <div class="col">
            <a href="/createCourse" class="btn btn-sm btn-info">
              Create a new course
            </a>
          </div>
       
       
        <% if (isAdmin) { %>
          <div class="col">
            <a href="/instructors" class="btn btn-sm btn-warning">
              Manage Instructors
            </a> 
          </div>    
        <% } %>
       
    </div>
    <% } %>
    
  </div>
</div>




<%} %>


</div>
</div>
<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>