<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>YellowCartwheel Profile for <%= user.userName %></h1>
        <img src="<%= user.profilePicURL%>" width="200">
        <hr>
        <p> Welcome <%= user.googlename %>
            with email <%= user.googleemail %>
            You are logged in to YellowCartwheel.
        </p>
        <p> <%= user.zipcode %> <%= user.city %> <%= user.state %>
        <p> Last updated on <%= user.lastUpdate %> </p>
<a href="/editProfile">edit profile</a>
    </div>

<%- include('bootfooter') -%>
