<%- include('bootheader') -%>
<%- include('menubar') -%>


    <h3><%= problem.description %></h3>
    <b>The Question</b>
    <div class="bg-default" style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"><%= problem.problemText %></div>
    <% if (answer) { %>
        <hr>
        <b>Their Answer</b>
        <small>Submission time and date:<%= answer.createdAt %> </small>
        <pre class="bg-default"
             style="border:thin solid red; white-space: pre-wrap; font-family:monospace; padding:10px"
             ><%= answer.answer %></pre>
        <br>



        <b>Your Review</b>
        You have reviewed  <%= numReviewsByMe %> answers for this problem
        <br>

        <div class="row">
            <div class="col-md-6">

                <form method="post" action="/saveReview/<%= problem._id %>/<%= answer._id %>">
                    Points:
                    <select name="points">
                        <% for(let j = 0;j<=problem.points; j++) { %>
                            <option> <%= j %> </option>
                        <% } %>
                    </select><br>

                    <% for(let i=0;i<skills.length;i++){%>
                        <input type="checkbox"
                               name="skill"
                               value="<%= skills[i]._id%>"
                               >
                        <%= skills[i].name %><br>
                    <% } %>


                      <div class="form-group">
                          <label for="review">Enter your review below:</label>
                          <textarea class="form-control rounded-0" id="review" name="review" rows="10"></textarea>
                      </div>
                      <br>
                      <input class="btn btn-lg btn-warning" type="submit">
                </form>
            </div>
            <div class="col-md-6">
                <b>Rubric</b>
                <hr>
                <div class="bg-default" style="border:thin solid blue; white-space: pre-wrap; font-family:monospace; padding:10px"><%= problem.rubric %>
                </div>

            </div>
        <div>
    <% } else { %>
        <hr>
        <b class="bg-danger" style="padding:10px">You have reviewed all answers submitted so far </b>

    <% } %>
    <hr>
    <a href="/showProblemSet/<%= problem.psetId %>" class="btn btn-small btn-primary">Back to the Problem Set</a>
    <hr>

<%- include('bootfooter') -%>
