<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-lg-5 p-4 mb-4 bg-light">
  <div class="container-fluid ">
    <h1>Problem Search Page
    </h1>
    <hr>
    <% if (skill) { %>
      <h2>Selected Skill: <%= skill.name %></h2>
      <i><%= skill.description%> </i>
    <h2>Problems for selected skill</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr><th>problem</th><th>add to pset</th><th>createdAt</th><th>last use</th></tr>
      </thead>
      <tbody>
        <% if (problems.length == 0) { %>
          <tr><td>No problems found for this skill</td></tr>
        <% } else {  problems.forEach(problem => { %>
            <tr>
                <td><a href="/showProblem/<%= courseId %>/<%= problem._id %>"><%= problem.description %></a> </td>
                <td>
                <a href="/addProblemToPset/<%= courseId %>/<%= psetId %>/<%= problem._id %>">Add to Problem Set</a></td>
                <td><%= problem.createdAt.toISOString() %></td>
                <td><%= psetMap[problem._id][0].toISOString() %></td>
            </tr>
          <% }); %>  
        <% } %>
      </tbody>
    </table>

    <% } %>
    
    <h2>Select a Skill to see all problems for that skill</h2>
    <ul>
      <% if (skills.length > 0) { 
        skills.forEach(skill => { %>
        <li>
            <a href="/showProblemsBySkill/<%= skill.courseId %>/<%= psetId %>/<%= skill._id %>">
              <%= skill.name %> | <%= skill._id%> </a>
        </li>
      <% })}; %>
    <ul>
    <hr>
   

  </div>
</div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>