<%- include('bootheader') -%>
<%- include('menubar') -%>

        <div class="p-3 mb-4 bg-light">
            <div class="container-fluid ">
                <h3 class="pb-2 border-bottom">
      <%= problem.description %>
</h3>
                <div class="p-2">
    <div class="bg-default" style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"
    ><% if (problem.mimeType!='tex'){ %><%= problem.problemText %><%
    } else {%>Tex problems are hidden.<% } %></div>
    <hr>
    <script type="text/javascript" src="/js/clickThumb.js"></script>
    <% if (canView) { %>
      <h2>All <%= answers.length %> Answers with <%= reviews.length %> Reviews, total</h2>
      <% for(let i=0; i<answers.length; i++){ 
            console.log('debugging answers '+i);
            console.dir(answers[i]);
            console.log(answers[i]._id);
        
        %>
        <div class="row" style="padding-top:20px; margin-top:20px; border-top:thick solid black">
          <div class="col-md-12">
            <%= answers[i].createdAt %>
              <br>
              <h3>ANSWER</h3>
              <% if (isTA) {%>
                 <div>
              <% if (!(answers[i].reviewers.includes(user._id))){  %>
                 <a  href="/showReviewsOfAnswer/<%= problem.courseId%>/<%= answers[i]._id %>"
                     target="_blank">grade it</a>
              <% } else { %>
                  <a href="/showReviewsOfAnswer/<%= problem.courseId%>/<%= answers[i]._id %>"
                     target="_blank">regrade it</a>
                <% } %>
              </div>
                <% } %>

                  <pre class="bg-warning"
                    style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"><%= answers[i].answer %></pre>
          </div>
        </div>
        <h3> REVIEWS</h3>
        <% let numReviews=0 %>

          <% for (let j=0; j<reviews.length; j++){ 
            console.log('debugging reviews '+j);
            //console.dir(reviews[j]);
            console.log(reviews[j].answerId);
            console.log(answers[i]._id);
            console.log(reviews[j].answerId.equals(answers[i]._id));
            %>

          <% if (reviews[j].answerId.equals(answers[i]._id)) {
            console.log('inside if');
             numReviews += 1
             let rev=reviews[j]
             let skills = reviews[j].skills
             console.log('skills');
             console.dir(skills);
             console.dir(skills.map((s) => getSkill(s,allSkills)));
             let skillnames = skills//.map((s) => getSkill(s,allSkills)['name'])
             let numLikesU = reviews[j].upvoters.length
             let userLikesU = reviews[j].upvoters.includes(user._id)
             let fa_prefixU = userLikesU?"fas":"far"
             let numLikesD = reviews[j].downvoters.length
             let userLikesD = reviews[j].downvoters.includes(user._id)
             let fa_prefixD = userLikesD?"fas":"far"

             let taReviewer = taList.filter(x=> (x.equals(reviews[j].reviewerId)))
             let isTAreview = taReviewer.length==1


             %>


              <div class="row">
                <div class="col-md-1">
                  <% if (isTAreview){%>
                    <b style="color:rgb(255,0,0);font-size:16pt">Review by TA!!</b>
                    <% } %>
                </div>
 <div class="col">
                  <i  class="<%= fa_prefixU %> fa-thumbs-up"
                               id='<%= "reviewU"+j %>'
                               onclick="clickThumb('<%= problem.courseId%>',<%= j %>,'<%= reviews[j]._id %>','<%= user._id %>','U')"></i>
                  <i  class="<%= fa_prefixD %> fa-thumbs-down"
                              id='<%= "reviewD"+j %>'
                              onclick="clickThumb('<%= problem.courseId%>',<%= j %>,'<%= reviews[j]._id %>','<%= user._id %>','D')"></i>
                  <i>
                    likes: <span id='<%="likes"+ j %>'>
                             <%= numLikesU-numLikesD %>
                           </span>
                       .... grade:
                     <%= rev.points %>/<%= problem.points %>pts
                  </i><br>
                  SKILLS Mastered: [[<%= JSON.stringify(skillnames) %>]]<br>
                    <% if (isTAreview){%>
                      <span style="color:rgb(255,0,0);">TA REVIEW!!</span>
                      <% if (rev.points< problem.points) { %>
                        <div style="background:rgb(255,0,0);color:rgb(0,0,0);
                       <% } else { %>
                       <div style=" background:rgb(0,255,0);color:rgb(0,0,0); <% } %>
                          <% } else if (rev.points==0) { %>
                            <div style="background:rgb(255,255,255);
                  <% }else if (rev.reviewerId.equals(user._id)) {%>
                       <span style=" color:rgb(220,120,255);">YOUR REVIEW!!</span>
                              <div style="background:rgb(220,120,255);<% } else { %>
                       <div style="background:rgb(120,220,255);<% } %>
                           padding:5px; margin-bottom:10px;border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"><%= rev.review %></div>
                            </div>
                        </div>
                        <% }%>
                          <% } %>
                            <% if (numReviews==0) {%> <b>no reviews yet</b>
                              <%}%>

                                <%} %>
                                  <% } else {%>
                                    <h1>More Reviews Needed</h1>
                                    You have reviewed <%= numReviews %> answers,
                                      but must review at least 2 before you can see
                                      all of the answers and reviews for this problem.
                                      <% } %>


                                        <hr>
                                        <a href="/reviewAnswers/<%= courseId%>/<%= psetId%>/<%= probId %>"
                                          class="btn btn-small btn-warning">Review others answers</a>
                                        <a href="/showReviewsByUser/<%=courseId%>/<%= probId %>"
                                          class="btn btn-small btn-info">Your Reviews of other's answers</a>
                                        <a href="/showProblem/<%= courseId %>/<%= psetId %>/<%= probId %>" class="btn btn-small btn-danger">Back
                                          to the Problem</a>
                                        <a href="/showProblemSet/<%= courseId%>/<%= psetId %>"
                                          class="btn btn-small btn-primary">Back to the Problem Set</a>


                </div></div></div>
<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>
