<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h6 class="pb-2 border-bottom fw-bold"> Skills from <%= otherCourse.name %> <br>
        created on <%= otherCourse.createdAt %>
    </h6>
    <a href="/importAllSkills/<%= courseId %>/<%= otherCourseId %>" class="btn btn-sm btn-primary">
      Import All Skills
      </a>
    <div class="p-2">
      <ul>
        <% for(i=0; i<=skills.length-1; i++){ %>
        <li>

          <a href="/showSkill/<%= otherCourseId %>/<%= skills[i]._id %>">
            <%= skills[i].shortName %> :: <%= skills[i].name %>
          </a>
          <i><small>
              <%= skills[i].createdAt %>
            </small></i>
        </li>
        <% } %>
      </ul>
      <hr>

      <a href="/showCourse/<%= courseId %>" class="btn btn-sm btn-danger">
        Return Home
      </a>

    </div>
  </div>
</div>
<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>