<%- include('bootheader') -%>
<%- include('menubar') -%>

<script type="text/javascript" src="/js/clickThumb.js"></script>
    <hr>
    <h3 class="bg-danger">
    <% let userIsTA = true && user.taFor && (user.taFor).indexOf(problem.courseId)>=0
       if (userIsTA) {
           %>
          <%= student.googlename %> <%= student.googleemail %>
    <% } %>
    </h3>
    <h1>Problem</h1>
    <h3><%= problem.description %></h3>
    <b>The Question</b>
    <div class="bg-default" style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"><%= problem.problemText %></div>

    <b>Their Answer</b>
    <small>Submission time and date:<%= answer.createdAt %> </small>
    <pre class="bg-warning"
         style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"
         ><%= answer.answer %></pre>
    <br>


    <h2>All Reviews of this Answer</h2>
    <form method="post" action="/removeReviews">
    <ul>
    <% let youReviewed = false
       for(i = 0; i<= reviews.length-1; i++){
        console.log("in reviews i= "+i)
        console.log(reviews[i].upvoters)
        console.log(user._id)
        let numLikesU = reviews[i].upvoters.length
        let userLikesU = reviews[i].upvoters.includes(user._id)
        let fa_prefixU = userLikesU?"fas":"far"
        let numLikesD = reviews[i].downvoters.length
        let userLikesD = reviews[i].downvoters.includes(user._id)
        let fa_prefixD = userLikesD?"fas":"far"
        let yourReview = reviews[i].reviewerId.equals(user._id)
        youReviewed = youReviewed || yourReview
        let taReviewer = taList.filter(x=> (x.equals(reviews[i].reviewerId)))
        let isTAreview = taReviewer.length==1
        %>
        <li><% if (isTAreview) {%>
            <b>REVIEW by TA</b>
            <% } %>
            <% if (userIsTA){%>
            <input type="checkbox" name='deletes' value="<%= reviews[i]._id%>">
            <% } %>
            <i  class="<%= fa_prefixU %> fa-thumbs-up"
                   id='<%= "reviewU"+i %>'
                   onclick="clickThumb(<%= i %>,'<%= reviews[i]._id %>','<%= user._id %>','U')"></i>

            <i  class="<%= fa_prefixD %> fa-thumbs-down"
                  id='<%= "reviewD"+i %>'
                  onclick="clickThumb(<%= i %>,'<%= reviews[i]._id %>','<%= user._id %>','D')"></i>

            <i>

            likes: <span id='<%="likes"+ i %>'>
                 <%= numLikesU-numLikesD %>
               </span>
            .... grade:
            <%= reviews[i].points %>/<%= problem.points %>pts
            <% if (yourReview){%>
                <b>Your Review!</b>


            <% } %>
            </i>
            <br>
            <% if (yourReview){%>
                <div style="background:rgb(120,220,155);border:2px solid blue; white-space: pre-wrap; font-family:monospace; padding:1px">
            <% } else if (isTAreview) {%>
                <b>TA Review</b>
                <div style="background:rgb(255,200,200);border:2px solid blue; white-space: pre-wrap; font-family:monospace; padding:1px">
            <% } else {%>
                <div style="background:rgb(120,220,255);border:2px solid blue; white-space: pre-wrap; font-family:monospace; padding:1px">
            <% } %>
            <%= reviews[i].review %></div>
            <br>
        </li>
    <% } %>
    </ul>
    <hr>
    <% if (userIsTA){%>
    <input type="submit" value="Delete checked reviews">
    <% } %>
    </form>
    <% if (!youReviewed) { %>
        <h1> You didn't review this one </h1>
        <div class="row">
            <div class="col-md-6">

                <form method="post" action="/saveReview2/<%= problem._id %>/<%= answer._id %>">
                    Points:
                    <select name="points">
                        <% for(let j = 0;j<=problem.points; j++) { %>
                            <option> <%= j %> </option>
                        <% } %>
                    </select><br>
                    <% for(let i=0;i<skills.length;i++){%>
                        <input type="checkbox"
                               name="skill"
                               value="<%= skills[i]._id%>"
                               >
                        <%= skills[i].name %><br>
                    <% } %>

                      <div class="form-group">
                          <label for="review">Enter your review below:</label>
                          <textarea class="form-control rounded-0" id="review" name="review" rows="10"></textarea>
                      </div>
                      <br>
                      <input class="btn btn-lg btn-warning" type="submit">
                </form>
            </div>
            <div class="col-md-6">
                <b>Rubric</b>
                <hr>
                <div class="bg-default" style="border:thin solid blue; white-space: pre-wrap; font-family:monospace; padding:10px"><%= problem.rubric %>
                </div>

            </div>
        <div>
    <% } %>
    <hr>
    <a href="/reviewAnswers/<%= problem._id %>" class="btn btn-small btn-warning">Review others answers</a>
    <a href="/showProblem/<%= problem._id %>" class="btn btn-small btn-danger">Back to the Problem</a>
    <a href="/showProblemSet/<%= problem.psetId %>" class="btn btn-small btn-primary">Back to the Problem Set</a>




<%- include('bootfooter') -%>
