<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">

    <h3 class="pb-2 border-bottom">
      <%= problem.description %>
    </h3>
    <div class="p-2">

      <% //The owner sees all the details for the problem
         if (isOwner) {        
      %>
            Status: <%= status %><br>
            Visible: <%= problem.visible %><br>
            Answerable: <%= problem.answerable %> <br>
            Submitable: <%= problem.submitable %> <br>
            Peer Reviewable: <%= problem.peerReviewable %>
            <hr>
            <a href="/uploadGrades/<%= problem._id %>">upload grades</a>
            <hr>
            <div class="row">
              <div class="col-md">
                mimeType=|<%= problem.mimeType %>|
                answerMimeType=|<%= problem.answerMimeType %>|
              </div>

              <div class="col-md">
                Answers: <%= answerCount %>
              </div>
              <div class="col-md">
                Reviews: <%= reviewCount %>
              </div>
              <div class="col-md">
                Average Review: <% if (Math.round(100*averageReview/problem.points) == NaN) { %>

                <%= Math.round(100*averageReview/problem.points)
                                    %>%
                = <%= averageReview.toFixed(2) %>/<%= problem.points %><% } else { %><span class="text-muted fst-italic">No reviews yet!</span>
                <% } %>
              </div>
              <div class="col-md text-right">
                <a href="/editProblem/<%= problem.courseId%>/<%= problem._id %>" class="btn btn-sm btn-info">
                  Edit
                </a>
              </div>
            </div>
    <% } %>


      <% if (!course.courseType.startsWith("mla") || isOwner) {
                // show the problem text 
                if (problem.mimeType=='markdown') { 
            %><div class="bg-default border border-dark rounded border-2 p-3"><%- 
                  markdownText
            %></div><% } else if (problem.mimeType!='tex') {
            %><div class="bg-default border border-dark rounded border-2" 
            style="white-space: pre-wrap; font-family:monospace; padding:10px"
            ><%= 
                  problem.problemText %>
            </div>
            <% }} else { 
            %><div>MLA problems are hidden from users. Only the owner can see them.</div>
              </div><% } %>
      </div>

      <hr>
      <h3>Plagiarism detection:on</h3>
      <% // the owner can download the answers to check for similarity
        if (isOwner) { %>
        <a href="/downloadAnswers/<%= courseId%>/<%= problem.id %>">
          download answers
        </a>
        <br>
      <% } %>



      <% // if the user answered the question, show the answer
         if ( usersAnswers.length> 0 && status == 'submitable') { %>
            <h2>Your Answer</h2>
            <small>Submission time and date:<%= problem.createdAt %>
            </small>
            <% if (problem.answerMimeType!='image') { %>
                <h3>Text answer</h3>
                <pre class="bg-warning"><%=  usersAnswers[0].answer %></pre>
            <% } else { %>
                <h3>Image answer</h3>
                <img src="<%= usersAnswers[0].imageFilePath %>" 
                alt="answer picture" 
                class="img-fluid">
              <% } %>
            
            <br>
            

        
      <% } %>

      <% // if the user has answered the question, 
         // and the problem is peer-reviewable, then they can review others.
         // Also if they are staff, they can review others, without having answered the question
         if ( usersAnswers.length>0 && problem.peerReviewable || isStaff) { %>
        
            <a href="/reviewAnswers/<%= courseId%>/<%= psetId%>/<%= probId %>" 
              class="btn btn-small btn-warning">
              Review others answers</a>
      <% } %>

      <% // a user can see the reviews of their answer, 
         // if they answered the question
         // whether or not it is peer-reviewable
          if ( usersAnswers.length>0) { %>
        <a href="/showReviewsOfAnswer/<%= courseId%>/<%= psetId%>/<%=  usersAnswers[0]._id %>" 
            class="btn btn-small btn-info">
          Reviews of your answer</a>
      <% } %>

      <% // staff or users who have answered the question 
         // can see the reviews of other answers
         // if the problem is peer reviewable
        if ( usersAnswers.length>0 && problem.peerReviewable || isStaff) {
      %>
          <a href="/showReviewsByUser/<%= courseId%>/<%= psetId%>/<%= problem._id %>" 
             class="btn btn-small btn-info">
             Your Reviews of other's answers</a>

          <a href="/showAllAnswers/<%= courseId %>/<%= problem._id %>" 
              class="btn btn-small btn-danger">
              Show all answers</a>

       <% } %>

          <a href="/showProblemSet/<%= courseId%>/<%= psetId %>" 
             class="btn btn-small btn-primary">
             Back to the Problem Set</a>

          
        


      <% // the staff can start or stop problems
         // this just toggles the allowAnswers field of the problem
         if (isStaff)
						{ if (problem.allowAnswers){ %>
                <a href="/stopProblem/<%= problem.courseId %>/<%= problem._id %>" 
                  class="btn btn-small btn-secondary">
                  Stop Problem</a>
             <% } else { %>
                <a href="/startProblem/<%= problem.courseId%>/<%= problem._id %>" 
                  class="btn btn-small btn-secondary">
                  Start Problem</a>
            <% } %>

      <% } 
        else if (!problem.allowAnswers){ %>
            <h4>This question has been closed.</h4>
      <% } %>


      <% if ((status=='closed')  && !isStaff){%>
      <h1>You may not submit answers at this time
      </h1>
      <% } else if (( usersAnswers.length==0 || status=='open') && !isStaff) { 
        // show the form to input the answer if the user has not answered the question
        // or if it is in save mode not submit mode
        // but staff don't ever answer questions, so they don't see this
        %>
        <hr>
        <% if (problem.answerMimeType != 'image'){ %>
                <h3>Submit your answer as text below</h3>

                <form method="post" action="/saveAnswer/<%= courseId%>/<%= psetId%>/<%= problem._id %>">
                  <div class="form-group">
                    <label for="answer">Enter your answer below:</label>
                    <textarea class="form-control rounded-0" id="answer" name="answer" rows="10" style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px">
<%=theAnswer.answer%></textarea>
                  </div>
                  <br>
                 
                    <% // draw a save or submit button
                     if(status=='submitable'){%>
                    <input class="btn btn-lg btn-danger" type="submit" value="submit answer text">
                    <% } else{%>
                    <input class="btn btn-lg btn-warning" type="submit" value="save answer text">
                    <% }%>
                    <a class="btn btn-primary" 
                    href="/showProblemSet/<%= problem.courseId %>/<%= problem.psetId %>">
                   Return to Problem Set without Saving</a>
          
          
                  <% // if there was an answer
                     if(theAnswer.createdAt){%>
                  <br>Last save at <%= theAnswer.createdAt
                                                                                  %>
                  
                  <% } %>
                </form>
                <% } else { %>
 
                <h3> Submit a photo of your answer</h3>

                <form method="post" action="/uploadAnswerPhoto/<%= courseId%>/<%= psetId%>/<%= problem._id %>" enctype="multipart/form-data">
                  <input type="file" id="picture" name="picture" accept="image/*" capture="environment" />
          
                  <% // draw a save or submit button
                  if(status=='submitable'){%>
                 <input class="btn btn-lg btn-danger" type="submit" value="submit answer photo">
                 <% } else{%>
                 <input class="btn btn-lg btn-warning" type="submit" value="save answer photo">
                 <% }%>
                 <% if (theAnswer.imageFilePath){%>
                 <img src="<%= theAnswer.imageFilePath %>"
                      alt="answer picture" 
                      width="100%"
                      >
                      <% } %>
                </form>

              <% } %>
          </div>
       
      <hr>
     
      <hr>
      <% }%>
      <hr>
      <%= skills.length	%>
      Skills:
      <ul>
        <% for(let i=0;i<skills.length;i++){%>
        <%if (skillsMastered.includes(skills[i]._id.toString())){%>
        <li style="color:blue">
          <%= skills[i].shortName %>::<%= skills[i].name%>
          --
          mastered!
        </li>
        <%} else{%>
        <li style="color:red">
          <%= skills[i].shortName %>::<%= skills[i].name%>
          -- not yet mastered
        </li>
        <% }%>

        <% }%>
      </ul>


    </div>
  </div>
</div>
<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>