<%- include('bootheader') -%>
<%- include('menubar') -%>

<script type="text/javascript" src="/js/clickThumb.js"></script>


    <h1>Problem</h1>
    <h3><%= problem.description %></h3>
    <b>The Question</b>
    <div class="bg-default" style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"><%= problem.problemText %></div>

    <b>Their Answer</b>
    <small>Submission time and date:<%= answer.createdAt %> </small>
    <pre class="bg-warning"
         style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"
         ><%= answer.answer %></pre>
    <br>


    <h2>All Reviews of this Answer</h2>
    <ul>
    <% for(i = 0; i<= reviews.length-1; i++){
        console.log("in reviews i= "+i)
        console.log(reviews[i].upvoters)
        console.log(user._id)
        let numLikesU = reviews[i].upvoters.length
        let userLikesU = reviews[i].upvoters.includes(user._id)
        let fa_prefixU = userLikesU?"fas":"far"
        let numLikesD = reviews[i].downvoters.length
        let userLikesD = reviews[i].downvoters.includes(user._id)
        let fa_prefixD = userLikesD?"fas":"far"

        %>
        <li>
            <i  class="<%= fa_prefixU %> fa-thumbs-up"
                   id='<%= "reviewU"+i %>'
                   onclick="clickThumb(<%= i %>,'<%= reviews[i]._id %>','<%= user._id %>','U')"></i>

            <i  class="<%= fa_prefixD %> fa-thumbs-down"
                  id='<%= "reviewD"+i %>'
                  onclick="clickThumb(<%= i %>,'<%= reviews[i]._id %>','<%= user._id %>','D')"></i>

            <i>

            likes: <span id='<%="likes"+ i %>'>
                 <%= numLikesU-numLikesD %>
               </span>
            .... grade:
            <%= reviews[i].points %>/<%= problem.points %>pts
            <% if (reviews[i].reviewerId.equals(user._id)){%>
                <b>Your Review!</b>
            <% } %>
            </i>
            <br>
            <div style="background:rgb(120,220,255);border:2px solid blue; white-space: pre-wrap; font-family:monospace; padding:1px"
            ><%= reviews[i].review %></div>
            <br>
        </li>
    <% } %>
    </ul>
    <hr>
    <a href="/reviewAnswers/<%= problem._id %>" class="btn btn-small btn-warning">Review others answers</a>
    <a href="/showProblem/<%= problem._id %>" class="btn btn-small btn-danger">Back to the Problem</a>
    <a href="/showProblemSet/<%= problem.psetId %>" class="btn btn-small btn-primary">Back to the Problem Set</a>




<%- include('bootfooter') -%>
