<%- include('bootheader') -%>
<%- include('menubar') -%>

<script type="text/javascript" src="/js/clickThumb.js"></script>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h2 class="pb-2 border-bottom"> The problem you reviewed</h2>


    <div class="p-2">
      <small>Submission time and date: <%= problem.createdAt %></small>
      <pre class="bg-success      "
      ><% if (problem.mimeType!='tex') { %><%= problem.problemText %><% } else { 
        %>Tex problems are hidden. Owners can view when editing.<% } %></pre>
      <br>
      <h2>Your reviews of other's answers</h2>
      <ul>
        <% for(i = 0; i<= usersReviews.length-1; i++){  %>
        <li style="margin-top:30px"> An answer:

          <% let answers = usersReviewedAnswers.filter((a)=> (a._id.equals(usersReviews[i].answerId)))
             let answer = answers[0] 
            console.log(answer)%>
          <pre class="bg-warning" style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"><%= answer.answer %></pre>
          Reviews:<br>
          <ul>
            <% for(let j=0; j< allReviews.length; j++){
                      let rev = allReviews[j]
                      let numLikesU = allReviews[j].upvoters.length
                      let userLikesU = allReviews[j].upvoters.includes(user._id)
                      let fa_prefixU = userLikesU?"fas":"far"
                      let numLikesD = allReviews[j].downvoters.length
                      let userLikesD = allReviews[j].downvoters.includes(user._id)
                      let fa_prefixD = userLikesD?"fas":"far"


                      if (!rev.answerId.equals(answer._id)){
                          continue
                      }
                    %>
            <li>
              <i class="<%= fa_prefixU %> fa-thumbs-up" id='<%= "reviewU"+j %>' onclick="clickThumb('<%= answer.courseId %>',<%= j %>,'<%= allReviews[j]._id %>','<%= user._id %>','U')"></i>

              <i class="<%= fa_prefixD %> fa-thumbs-down" id='<%= "reviewD"+j %>' onclick="clickThumb('<%= answer.courseId %>',<%= j %>,'<%= allReviews[j]._id %>','<%= user._id %>','D')"></i>

              <i>

                likes: <span id='<%="likes"+ j %>'>
                  <%= numLikesU-numLikesD %>
                </span>
                .... grade:
                <%= rev.points %>/<%= problem.points %>pts
              </i>


              <% if (rev.reviewerId.equals(user._id)) {%>
              YOUR REVIEW!!
              <div style="background:rgb(220,120,255); padding:5px">
                <% } else { %>
                <div style="background:rgb(120,220,255); padding:5px">
                  <% } %>


                  <%= rev.review %>
                </div>

            </li>
            <% } %>
          </ul>
        </li>
        <% } %>
      </ul>
      <hr>
      <a href="/reviewAnswers/<%= courseId %>/<%= psetId %>/<%= problem._id %>" class="btn btn-small btn-warning">Review others answers</a>
      <a href="/showProblem/<%= courseId %>/<%= psetId %>/<%= problem._id %>" class="btn btn-small btn-danger">Back to the Problem</a>
      <a href="/showProblemSet/<%= courseId%>/<%= psetId %>" class="btn btn-small btn-primary">Back to the Problem Set</a>

    </div>
  </div>
</div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>