<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">
      <%= courseInfo.name %>
    </h1>
    <div class="p-2">
      studentPin: <%= courseInfo.coursePin %>
      <br>
      <% if (courseInfo.mathCourseId) { %>
        Linked to 
                <a href="/mathgrades/showCourse/<%= courseInfo.mathCourseId %>">
                  an MGA course
                </a>
      <% } %>
      <hr>
      <h2>Problem Sets
        <% if (isOwner) { %>
      <a href="/addProblemSet/<%= courseInfo._id %>">
        <i class='fas fa-plus' style='font-size:24px'></i> 
      </a>
      <% } %>
      </h2>
      <ul>
        <% for(i = 0; i<= problemSets.length-1; i++){ %>
        <%
             if (!problemSets[i].visible && !(courseInfo.ownerId==user.id)) continue
             else if (courseInfo.ownerId==user.id && !problemSets[i].visible) {
                 %> <li> HIDDEN
          <% } else { %>
        <li>
          <%}%>


            <a href="/showProblemSet/<%= courseInfo._id%>/<%= problemSets[i]._id %>"
          <% if ( answerMap.get(problemSets[i]._id.toString()) >=
                       problemMap.get(problemSets[i]._id.toString())
                ) {%>
          style="color:green"
          <% } else {%>
          style="color:red"
          <% } %>
          >

          <%= problemSets[i].name.trim() || "problem set" %>
          </a>

          (<%= answerMap.get(problemSets[i]._id.toString()) || 0
                  %>/<%=
                     problemMap.get(problemSets[i]._id.toString()) || 0 %>)


        </li>
        <% } %>
      </ul>

      <hr>
      <h2>Skills
        <% if (isOwner) { %>
          <a href="/addSkill/<%= courseInfo._id %>">
            <i class='fas fa-plus' style='font-size:24px'></i> 
          </a>
          <% } %>
      </h2>
      <ul>
        <% for(i = 0; i< skills.length; i++){  %>
        <li>

          <a href="/showSkill/<%= courseInfo._id%>/<%= skills[i]._id %>">
            <%= skills[i].shortName %>: </skills><%= skills[i].name %>
          </a>
          <span style="color:red">
            times mastery demonstrated: <%= skillCount[skills[i].id]||0 %>
          </span>
        </li>
        <% } %>

        <%
    skillIds = skills.map((x)=>x.id)
    %>

        <% for(i = 0; i< allSkills.length; i++){
         if (skillIds.includes(allSkills[i].id)) continue; %>
        <li>
          <a href="/showSkill/<%=courseInfo._id%>/<%= allSkills[i]._id %>">
            <%= allSkills[i].shortName %>: <%= allSkills[i].name %>
          </a>
          mastery not yet demonstrated
        </li>
        <% } %>
      </ul>
 
      <% if (isOwner) { %>
        <a href="/showSkills/<%= courseInfo._id %>" class="btn btn-sm btn-danger">
          Edit Skills
        </a>
      <a href="/importSkills/<%= courseInfo._id %>" class="btn btn-sm btn-danger">
        Import Skills from another course
      </a>
      <% } %>
      <hr>

      <% if (isTA || isOwner) { %>
      <h2>Students</h2>


      <a href="/showStudentInfo/<%= courseInfo._id %>" class="btn btn-sm btn-info">
        Show Summarized Student Info
      </a>

      <a class="btn btn-sm btn-info" href="/showRoster/<%= courseInfo._id %>">
        Show Roster
      </a>

      <a class="btn btn-sm btn-info" href="/mastery2/<%= courseInfo._id %>">
        Show Mastery
      </a>
      <% } else { %>
        <h3>My Activity</h3>
        <a href="/showOneStudentInfo/<%= courseInfo._id %>/<%= user._id %>">
          show all problems and responses
        </a>
        <br>
      
      Number of reviews I've made: <%= myReviews.length %>
      with <%= thumbsUp %> thumbs up and
      <%= thumbsDown %> thumb downs
  
        <%} %>
     

      
      <hr>
      <h2>Teaching Assistants</h2>
      <a href="/showTAs/<%= courseInfo._id %>" class="btn btn-sm btn-info">
        Show TAs
      </a>
      

      <% if (isTA || isOwner) { %>
        <hr>
        <h2>Grading</h2>
      <a 
         href="/showRegradeRequests/<%= courseInfo.id %>"
         class="btn btn-sm btn-info">
         Show Regrade requests (<%= regradeRequests.length %> outstanding)
      </a>

      <% } %>
      <hr>
      <% if ( user._id.equals(courseInfo.ownerId)) { %>
        <h2>Settings</h2>
        <form method="post" action ="/changeCourseName/<%= courseInfo._id %>">
           <input type="text" name="newName" value="<%= courseInfo.name %>">
           course name 
           <br>
           <input type="text" name="startDate" 
           value="<%= startDate.toISOString().slice(0,10) %>">
            startDate
            <br>
            <input type="text" name="stopDate" value="<%= courseInfo.stopDate %>">
            stopDate
            <br>
            <select name="courseType">
              <option value="exam_reporting" 
                      <%= courseInfo.courseType=="exam_reporting"?"selected":"" %>
                >
                Grade Reporting only
              </option>
              <option value="exam_generation" 
                      <%= courseInfo.courseType=="exam_generation"?"selected":"" %>
                >
                Exam Generation and Reporting
              </option>
              <option value="exam_grading" 
                      <%= courseInfo.courseType=="exam_grading"?"selected":"" %>
                >
                Exam Grading, Generation, and Reporting
              </option>
              <option value="online_quizzes" 
                      <%= courseInfo.courseType=="online_quizzes"?"selected":"" %>
                >
                Online Quizzes
              </option>
              <option value="unrestricted" 
                      <%= courseInfo.courseType=="unrestricted"?"selected":"" %>
                >
                Unrestricted
              </option>
            </select>
            <br><br><br>
            
            <%= courseInfo.nonGrading?"enabled":"disabled" %>:
            non-Grading mode - student work will be graded externally and uploaded to the course.
            Students will not be able to see the problems or the answers. Uncheck this box
            if you will grade the students' work in the course using this App.
            <br>
            <hr>
           <button type="submit" class="btn btn-sm btn-danger">Update Course Info</button>
       <% } %>
       <hr>
       

      <br>



      <a href="/" class="btn btn-sm btn-danger">
        Back to Home
      </a>



    </div>
  </div>

</div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>