<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="p-3 mb-4 bg-light">
      <div class="container-fluid ">
        <div class="p-2">
          <% if (isOwner) { %>
            <a href="/editSkill/<%= skill.courseId %>/<%= skill._id %>" class="btn btn-sm btn-info">
              Edit
            </a>

            <% } %>

             
              <h2>Skill Short Name: <%= skill.shortName %>
              </h2>
              <h2>Skill Name: <%= skill.name %>
              </h2>
              <h3>Skill Level (Fundamental or General): <%= skill.level %> </h3>
              <h3>Skill Description:</h3>
              <pre class="bg-default"
                style="border:thin solid red; white-space: pre-wrap; font-family:monospace; padding:10px"><%= skill.description %></pre>
              <hr>
              <a class="btn btn-danger" href="/showCourse/<%= skill.courseId %>">back to course</a><br>
              <br>
              <a class="btn btn-primary" href="/showSkills/<%= skill.courseId %>">back to skills list</a><br></div></div></div>
              <br>
              <i>originally appeared in 
                <a href="/showCourse/<%= courseInfo._id %>">
                  <%= courseInfo.name %>
                </a>
              </i>
<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>
