<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">
      <%= problemSet.name.trim() || "Problem Set" %>
    </h1>
    <div class="p-2">

      <ul>
        <% for(i=0; i<psetProblems.length; i++){ 
          if (!psetProblems[i].problemId.visible &&
                            !(courseInfo.ownerId==user.id) ) { %>
          <li>Problem Hidden </li>
          <% } else {%>
          <li>


          <% const skillsToMaster=psetProblems[i].problemId.skills.filter( (skill)=>
                                        !skills.includes(skill.toString())).length
                                        %>
          <% if (skillsToMaster==0){ %>
            <% if (courseInfo.ownerId.equals(user._id)){ %>
          <a href="/removeProblem/<%= courseId%>/<%= psetProblems[i].psetId %>/<%= psetProblems[i].problemId._id %>">
            <span style="color:red">
              X
            </span>
            <% } %>
          </a>
          <a href="/showProblem/<%= courseId%>/<%= psetProblems[i].psetId %>/<%= psetProblems[i].problemId._id %>">
            <span style="color:green">
              <%= psetProblems[i].problemId.description || "no name" %>
              all skills in this problem have been mastered
            </span>
          </a>

          <% } else { %>
            <% if (courseInfo.ownerId.equals(user._id)){ %>
          <a href="/removeProblem/<%= courseId%>/<%= psetProblems[i].psetId %>/<%= psetProblems[i].problemId._id %>">
              <span style="color:red">
                X
              </span>
          </a>
          <% } %>
          <a href="/showProblem/<%= courseId%>/<%= psetProblems[i].psetId %>/<%= psetProblems[i].problemId._id %>">
            <%= psetProblems[i].problemId.description || "no name" %>
          </a>

          <%= skillsToMaster %>/<%= psetProblems[i].problemId.skills.length %> skills left to
          master<br>
          <% } %>
        </li>
        <% }} %>
      </ul>


      <hr>
      <% if (courseInfo.ownerId.equals(user._id)){ %>
      <a class="btn btn-sm btn-success" 
         href="/addProblem/<%= courseId%>/<%= psetId %>">Add Problem</a>
      <a class="btn btn-sm btn-success" 
         href="/showProblemLibrary/<%= courseId%>/<%= psetId %>">View Problem Library</a>
      <a class="btn btn-sm btn-info"
         href="/editProblemSet/<%=courseId%>/<%= psetId %>" >Edit Problem Set</a>
      <a href="/downloadAsTexFile/<%=courseId%>/<%= psetId %>" class="btn btn-sm btn-info">Download as .tex file</a>
      <a href="/downloadPersonalizedExamsAsTexFile/<%=courseId%>/<%= psetId %>" class="btn btn-sm btn-info">Download personalized exams</a>
      <% } %>
      <a href="/showCourse/<%= courseId %>" class="btn btn-sm btn-primary">Back to List
        of Problem
        Sets</a>
      <% if (user.taFor && (user.taFor).indexOf(courseId)>=0 || courseInfo.ownerId.equals(user._id)) { %>
      <a class="btn btn-sm btn-warning" href="/gradeProblemSet/<%= courseId%>/<%= problemSet._id %>">Grade
        Problem Set
      </a>
      <a class="btn btn-sm btn-warning" href="/gradeProblemSet/<%= courseId%>/<%= problemSet._id %>/json">JSON grades
      </a>
      <% } %>
    </div>
  </div>
</div>


<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>