<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom"></h1>
    <div class="p-2">
      <script type="text/javascript" src="/js/sort-table.js"></script>
      <style type="text/css">
        th,
        td {
          border: 1px solid black
        }
      </style>

      Name,Email,Problems Completed, Number of Reviewed Answers, Number of Reviews, Quality of their Reviews ,ThumbsUp ,ThumbsDown ,Avg Review Score <br>
      <% for(let i=0; i<studentsInfo.length; i++) {
            let grades = gradeSheet.grades[studentsInfo[i]._id]
            let avgReviews = []
            let numReviews = 0
            let numReviewed = 0
            let numAnswers = 0
            let thumbsUp=0
            let thumbsDown=0
            for (a in grades.answers) {
                numAnswers += 1
                let answer = grades.answers[a].answer
                let reviews = grades.answers[a].reviews
                let reviewScores = reviews.map((x)=>(x.points))
                let problem = gradeSheet.problems[grades.answers[a].answer.problemId]
                let score = (reviewScores.reduceRight((x,y)=>x+y,0)/(reviewScores.length * problem.points)*100)
                score = parseInt((reviewScores.length==0)?0:score)
                if (reviewScores.length>0) {
                     numReviewed += 1
                     avgReviews.push(score)
                 }
                 for (let r of reviews){
                     thumbsUp += r.upvoters.length
                     thumbsDown += r.downvoters.length
                 }
                numReviews = numReviews + reviews.length
              } %>

      <%= studentsInfo[i].googlename %>,<%= studentsInfo[i].googleemail %>,<%= numAnswers %>,<%= numReviewed %>,<%= numReviews %>,<%= thumbsUp - thumbsDown %>,<%= thumbsUp  %>,<%= thumbsDown %>,<%= (avgReviews.reduceRight((x,y)=>(x+y),0)/numReviewed).toFixed(0) || 0%>
      <br>
      <% } %>
    </div>
  </div>
</div>



<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>