<%- include('bootheader') -%>
<%- include('menubar') -%>
    <h1><%= problemSet.name %></h1>

    <ul>
    <% for(i = 0; i<= problems.length-1; i++){  %>
        <li>
            <a href="/showProblem/<%= problems[i]._id %>">
                <%= problems[i].description %>
            </a>
        </li>
    <% } %>
    </ul>
    <hr>
    <% if (courseInfo.ownerId.equals(user._id)){ %>
        <a class="btn btn-small btn-success" href="/addProblem/<%= psetId %>">Add Problem</a>
        <a href="/editProblemSet/<%= psetId %>" class="btn btn-small btn-info">
            Edit Problem Set</a>
    <% } %>
    <a href="/showCourse/<%= problemSet.courseId %>" class="btn btn-small btn-primary">Back to List of Problem Sets</a>




<%- include('bootfooter') -%>
