<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="p-3 mb-4 bg-light">
      <div class="container-fluid ">
<h1 class="pb-2 border-bottom">   Student Info for one student in <%= courseInfo.name %>

</h1>
        <div class="p-2">
    <i>Beta Test ... </i>
        <%
            
            let grades = gradeSheet.grades[studentInfo._id]
            %>
    <h1><%= studentInfo.googlename %>/<%= studentInfo.googleemail %>
        <%- studentInfo['_id'] %>
</h1>

      <% let answeredProblemIds = []
         for (a in grades.answers) {
          answeredProblemIds.push(""+grades.answers[a].answer.problemId)
          let problem = gradeSheet.problems[grades.answers[a].answer.problemId]
          console.log(`problem: ${problem}`);
          let courseId = problem.courseId;
          let answer = grades.answers[a].answer
          let reviews = grades.answers[a].reviews
          let reviewScores = reviews.map((x)=>(x.points))
          let skillsMastered = grades.answers[a].answer.skills;
          let skillNames = skillsMastered?skillsMastered.map(x=>x['name']):[];
          let skillsTested = problem.skills;
          let skillsTestedNames =
            (skillsTested?skillsTested.map(x=>x['name']):[])
          %>
          
          
            
          <h4 style="margin-top: 60px; border-top:thick solid blue"> <%= problem.description %> </h4>
          <h6>Problem:</h6>
          <div class="bg-default" style="border:thin solid black; margin-top:10px; white-space: pre-wrap; font-family:monospace; padding:10px"
          ><% if (problem.mimeType!='tex'){%><%= problem.problemText %><%
          } else {%> Tex Problems are hidden <% } %></div>
          <div class="bg-primary" style="color:white; border:thin solid black; padding:10px">
            <h4>Skills Tested</h4>
            <% if (skillsMastered.length==0) {%>
              ** none mastered ** <br>
            <% } %>
            <% if (skillsTestedNames.length==0) {%>
              none
            <%} else {%>
              <ul>
                <% for (skill of skillsTestedNames) {%>
                  <li>
                  <% if (skillNames.includes(skill)) {%>
                    <span style="color:red;background:white">MASTERED</span>
                  <% } %>
                  <%= skill %>
                </li>
                <% } %>
              </ul>
            <% }%>


           
          </div>
          <h6>Answer:</h6>
          <div class="bg-info" style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"><%= answer.answer %></div>
          <h6>Reviews:</h6>
           All Review Scores: <%= JSON.stringify(reviewScores,null,10) %> / <%= problem.points %> =
           <%= (reviewScores.reduceRight((x,y)=>x+y,0)/(reviewScores.length * problem.points)*100).toFixed(0) %>%
           <% for (r in reviews){
             review = reviews[r] %>
             <div class="bg-warning"
                  style="border:thin solid black; white-space: pre-wrap; font-family:monospace"
                  >review: <%= review.points %>/<%= problem.points %> <br> <%= review.review %>
             </div>
           <% } %>
           
      <% } %>
      <h1>Problems not attempted</h1>
      <ol>
      <% 
        for (p of problems) {
          if (!answeredProblemIds.includes(""+p['_id'])
              && p.visible
             ){
            %>
            <li><a href="/showProblem/<%= p.courseId %>/<%= p.psetId %>/<%= p['_id']%>">
              <%= p.description %></a>
              <%= JSON.stringify(p.createdAt,null,5) %>
              <a href="/showProblemSet/<%= p.courseId%>/<%= p.psetId %>">view problem set</a>
            
          </li>

      <% }} %>
          </ol>



<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>
