<%- include('./bootheader') -%>
<%- include('./menubar') -%>
<script type="text/javascript" src="/js/sort-table.js"></script>
<style type="text/css">
  th,
  td {
    border: 1px solid black
  },
  .header{
        position:sticky;
        top: 0 ;
    }
</style>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">
     Mastery Summary for <%= course.name %></h1>
    <div>
        <%= course.description %>
        <br>
        Created at <%= course.createdAt %>
        
    </div>
    

        <a href="?csv=1">Download as CSV file</a>
        <br>
        Students who have not mastered any skills are highlighted.
      <table class="table table-bordered table-striped js-sort-table">
        <thead style="position: sticky;top: 0" >
            <tr>
                <th  class="header" scope="col">Name</th>
                <th class="header" scope="col">Email</th>
                <th class="header" scope="col">Section</th>
                <th class="header" scope="col">Fskills</th>
                <th class="header" scope="col">Gskills</th>
                <% for (let skill of skillSet) { 
                     if (!skillCounts[skill]) skillCounts[skill]=0; %>
                    <th  class="header" scope="col"
                       <% if (skillCounts[skill]==studentCount){ %> 
                            class="bg-warning"
                       <% } else { 
                            let cm = 100*skillCounts[skill] / studentCount;
                            let b = 255 - cm*2.55;
                            let r = cm*2.55;
                           %> 
                           style="font-weight:bold;color:rgb(<%= r %>,0,<%= b %>)"
                        <% } %>
                       >
                      <%= skill %>
                    <br>
                    <%= skillCounts[skill] %>/<%= studentCount %>
                    </th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% for (let email in mastery) {
              %>
                <tr>
                    <td><%= mastery[email]['name'] %></td>
                    <td class="<%= !email.endsWith("@brandeis.edu")?"":
                    "bg-warning" %>"

                        ><%= email %></td>
                    <td><%= sectionDict[email] %></td>
                    <td><%= mastery[email]['Fskills'] %></td>
                    <td><%= mastery[email]['Gskills'] %></td>
                    <% for (let skill of skillSet) { 
                        let m =mastery[email][skill];
                        if (m === undefined) {
                            m = 0;
                        }
                        %>
                        <td><%= m %></td>
                    <% } %>
                </tr>
            <% } %>

            <% for (let email in sectionDict) {
                if (mastery[email] === undefined) {
                    %>
                    <tr class="bg-warning">
                        <td> ... </td>
                        <td><%= email %></td>
                        <td><%= sectionDict[email] %></td>
                        <td>0</td>
                        <td>0</td>
                        <% for (let skill of skillSet) { 
                            %>
                            <td>0</td>
                        <% } %>
                    </tr>
               <% }} %>
                 
        </tbody>
      </table>
  </div>

</div>

<%- include('./bootfooter') -%>
<%- include('./htmlfoot') -%>