<%- include('bootheader') -%>
<%- include('menubar') -%>
        <div class="p-3 mb-4 bg-light">
            <div class="container-fluid ">
                <div class="p-2">
<script type="text/javascript" src="/js/clickThumb.js"></script>
    <hr>
    <h3 class="bg-danger">
    <% let userIsTA = true && user.taFor && (user.taFor).indexOf(problem.courseId)>=0
       let userIsOwner = user._id.equals(courseInfo.ownerId);
       if (userIsTA) {
           %>
          <%= student.googlename %> <%= student.googleemail %>
    <% } %>
    </h3>
    <h1>Problem</h1>
    <h3><%= problem.description %></h3>
    <b>The Question</b>
    <div class="bg-default" style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"
    ><% if (problem.mimeType != 'tex'){ %><%= problem.problemText %><%
    } else { %>Tex answers are hidden.   <%} %></div>

    <b>Their Answer</b>
    <small>Submission time and date:<%= answer.createdAt %> </small>
    <% if (!answer.imageFilePath) {%>
        TEXT ANSWER:<br>
    <pre class="bg-warning"
         style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"
         ><%= answer.answer %></pre>
    <% } else { %>
        <br>
        IMAGE ANSWER:<br>
    <img src="<%= answer.imageFilePath %>" width="50%">
        <% } %>


    <ul>
    <% let youReviewed = false
       for(i = 0; i<= reviews.length-1; i++){
        console.log("in reviews i= "+i)
        console.log(reviews[i].upvoters)
        console.log(user._id)
        let isOfficial =
          (reviews[i].id == answer.officialReviewId);

        let numLikesU = reviews[i].upvoters.length
        let userLikesU = reviews[i].upvoters.includes(user._id)
        let fa_prefixU = userLikesU?"fas":"far"
        let numLikesD = reviews[i].downvoters.length
        let userLikesD = reviews[i].downvoters.includes(user._id)
        let fa_prefixD = userLikesD?"fas":"far"
        let yourReview = reviews[i].reviewerId.equals(user._id)
        youReviewed = youReviewed || yourReview
        let taReviewer = taList.filter(x=> (x.equals(reviews[i].reviewerId)))
        let isTAreview = taReviewer.length==1
        let fullskills = reviews[i].skills
        %>
	<h2>Reviewed by <%= reviews[i].id %>
        <% if (isOfficial) {%>
            <li style="border:thick solid green; background:lightgreen;margin:10px;padding:10px">
                <h1>Review for the Grade</h1>
            <% }else { %>
            <li style="border:thick solid black; margin:10px;padding:10px">

        <% } %>
<pre><%= JSON.stringify(answer) %> </pre>
            <% if (isStaff){%>
                <form method="post" action="/removeReviews/<%=answer.courseId%>">
                     <input type="checkbox" name='deletes'
                     value="<%= reviews[i]._id%>"/>
                     <input type="submit" class="btn btn-sm btn-danger" value="delete"/>
                     check box and press delete button to delete
                 </form>
            <% } %>
            <i  class="<%= fa_prefixU %> fa-thumbs-up"
                   id='<%= "reviewU"+i %>'
                   onclick="clickThumb('<%= problem.courseId%>',<%= i %>,'<%= reviews[i]._id %>','<%= user._id %>','U')"></i>

            <i  class="<%= fa_prefixD %> fa-thumbs-down"
                  id='<%= "reviewD"+i %>'
                  onclick="clickThumb('<%= problem.courseId%>',<%= i %>,'<%= reviews[i]._id %>','<%= user._id %>','D')"></i>

            <i>

            likes: <span id='<%="likes"+ i %>'>
                 <%= numLikesU-numLikesD %>
               </span>
            .... grade:
            <%= reviews[i].points %>/<%= problem.points %>pts
            <% if (yourReview){%>
                <b>Your Review!</b>


            <% } %>
            </i>
            <br>

            Skills Mastered:
            <% if (fullskills.length==0) {%>
                <ul>
                    <li>
                        no skills mastered
                    </li>
                </ul>
            <%}else {%>

            <ul>
            <% fullskills.map((x) => {%>
                <li>
                    <span  style="padding:5px;color:red">
                        <%= x['name']%>
                    </span>
                </li>
             <%}) %>
             </ul>
            <% }%>

            <% if (yourReview){%>
                <div style="background:rgb(120,220,155);border:2px solid blue; white-space: pre-wrap; font-family:monospace; padding:1px">
                    <% } else if (isTAreview) {%>
                <b>TA Review</b>
                <div style="background:rgb(255,200,200);border:2px solid blue; white-space: pre-wrap; font-family:monospace; padding:1px">
                    <% } else {%>
                <div style="background:rgb(120,220,255);border:2px solid blue; white-space: pre-wrap; font-family:monospace; padding:1px">
                    <% } %><%= reviews[i].review %></div>
            <!-- allow user to request regrades of their answers -->
            <% if (answer.studentId==user.id) {%>
                <form method="post" action="/requestRegrade/<%= answer.courseId%>/<%= reviews[i].id %>">
                    Regrade request:
                    Reason:<br>
                    <textarea name="reason" style="width:100%"></textarea>
                    <hr>


                    <input type="submit" value="request regrade">
                </form>
            <% } %>

        </li>
    <% } %>
    </ul>
    <hr>



    <% if (!youReviewed) { %>
        <h1> You didn't review this one </h1>
        <div class="row">
            <div class="col-md-6">

                <form method="post" action="/saveReview2/<%=courseId%>/<%= psetId%>/<%= problem._id %>/<%= answer._id %>">

                    <% for(let i=0;i<skills.length;i++){%>
                        <input type="checkbox"
                               name="skill"
                               value="<%= skills[i]._id%>"
                               >
                        <%= skills[i].shortName %> :: <%= skills[i].name %><br>
                    <% } %>

                      <div class="form-group">
                          <label for="review">Enter your review below:</label>
                          <textarea class="form-control rounded-0" id="review" name="review" rows="10"></textarea>
                      </div>
                      <br>
                      <input class="btn btn-lg btn-warning"
                          name="destination"
                          type="submit"
                          value="submit and view next">
                      <input class="btn btn-lg btn-danger"
                          type="submit" name="destination"
                          value="submit and view this again">

                </form>
            </div>
            <div class="col-md-6">
                <b>Rubric</b>
                <hr>
                <div class="bg-default" style="border:thin solid blue; white-space: pre-wrap; font-family:monospace; padding:10px; background-color:#dddddd">
                    <%= problem.rubric %>
                </div>

            </div>
        <div>
    <% } %>
    <h1 style="margin-top:20px;border-top:thick solid black">
        Regrade Requests</h1>
    <ol>
    <% for(let i=0; i<regradeRequests.length; i++){
          rr = regradeRequests[i]
          if (rr.completed) continue %>
          <li>
              reason:<br>
<pre class="bg-warning"
         style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"
><%= rr.reason %>
          </pre><br>
              createAt:<%= rr.createdAt %><br>
       <% if (userIsTA){%>
           <form method="post" action="/updateRegradeRequest/<%= rr.courseId%>/<%= rr._id%>">

               reply: <br>
               <textarea name="reply"></textarea>
               <hr>
               <input type="submit" value="send reply">
           </form>
       <% }%>
       <hr>
       </li>
    <% }%>
    </ol>
    <h2> Completed regrade requests </h2>
    <ul>
    <% for(let i=0; i<regradeRequests.length; i++){
          rr = regradeRequests[i]
          if (!rr.completed) continue %>
          <li>

               <div style="padding:5px;background-color:yellow">
                   reason:<%= rr.reason %></div>
               <div style="padding:5px;background-color:lightgreen">reply:
                   <%= rr.reply %></div>
               <hr>

       </li>
    <% }%>
    </ul>
    <hr>
    <a href="/reviewAnswers/<%= courseId %>/<%= psetId %>/<%= problem._id %>" class="btn btn-small btn-warning">Review others answers</a>
    <a href="/showProblem/<%= courseId %>/<%= psetId%>/<%= problem._id %>" class="btn btn-small btn-danger">Back to the Problem</a>
    <a href="/showProblemSet/<%= courseId %>/<%= psetId %>" class="btn btn-small btn-primary">Back to the Problem Set</a>
<% if (userIsTA){%>
<a href="/showRegradeRequests/<%= courseId %>" class="btn btn-small btn-primary">Back to Regrade Requests List</a>
<a href="/gradeProblemSet/<%= courseId%>/<%= psetId %>" class="btn btn-small btn-danger">Back to Grade Problem Set</a>

    <% } %>

</div></div></div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>
