<%- include('bootheader') -%>
<%- include('menubar') -%>

<body style="background-color:rgb(255, 247, 233)">
  <div class="container">
    <h1 class="pb-2 border-bottom" style="margin-bottom:10px">
      <%= problemSet.name.trim() || "Problem Set" %> 
    </h1>
    
    <div class="wrapper">
      <ul id="problem_list"></ul>
      <div id="problem_content"></div>
    </div>
    <!-- back to ProblemSet button -->
    <div>
      <button type="button" style="border-radius: 4px; border: white; color:white; background-color:rgb(255, 66, 66)"
      class="btn">Back to Problem set</button>
    </div>
  </div>
</body>

<div id="passLocal" 
  data-problems='<%= JSON.stringify(problems) %>' 
  data-courseinfo='<%= JSON.stringify(courseInfo) %>'
  data-myanswers='<%= JSON.stringify(myAnswers) %>'
  data-psetreviews='<%= JSON.stringify(psetReviews) %>'
  data-skills='<%= JSON.stringify(skills) %>'>
</div>

<script src="/web-js-component/showProblemSet_js.js"></script>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>