<%- include('bootheader') -%>
<%- include('menubar') -%>

    <h3><%= problem.description %></h3>
    <% if (true || course.ownerId.equals(user._id)) { %>
        <div class="row">
            <div class="col-md">
                Answers: <%= answerCount %>
            </div>
            <div class="col-md">
                Reviews: <%= reviewCount %>
            </div>
            <div class="col-md">
                Average Review: <%= Math.round(100*averageReview/problem.points) %>%
                 = <%= averageReview.toFixed(2) %>/<%= problem.points %>
            </div>
            <div class="col-md text-right">
                <a href="/editProblem/<%= problem._id %>"
                   class="btn btn-sm btn-info">
                     Edit
                </a>
            </div>

        </div>
    <% } %>


<hr>
    <div class="bg-default" style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"><%= problem.problemText %></div>
    <hr>

    <% if (answers.length > 0 || (answers.length==-1 && course.ownerId.equals(user._id))) { %>
        <% if (!course.ownerId.equals(user._id)) { %>
            <h2>Your Answer</h2>
            <small>Submission time and date:<%= problem.createdAt %> </small>
            <pre class="bg-success      "><%= answers[0].answer %></pre>
            <br>
        <% } %>
        <a href="/reviewAnswers/<%= problem._id %>" class="btn btn-small btn-warning">Review others answers</a>
        <% if (!course.ownerId.equals(user._id)) {%>
            <a href="/showReviewsOfAnswer/<%= answers[0]._id %>" class="btn btn-small btn-info">Reviews of your answer</a>
        <% } %>
        <a href="/showReviewsByUser/<%= problem._id %>" class="btn btn-small btn-info">Your Reviews of other's answers</a>
        <a href="/showProblemSet/<%= problem.psetId %>" class="btn btn-small btn-primary">Back to the Problem Set</a>
        <% if (true || course.ownerId.equals(user._id)) { %>
            <br>
            <a href="/showAllAnswers/<%= problem._id %>" class="btn btn-small btn-danger">Show all answers</a>
        <%} %>

    <% } else { %>
            <form method="post" action="/saveAnswer/<%= problem._id %>">
                    <div class="form-group">
                        <label for="answer">Enter your answer below:</label>
                        <textarea class="form-control rounded-0" id="answer" name="answer" rows="10"
				  style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"></textarea>
                    </div>
                    <br>
                    <input class="btn btn-lg btn-warning" type="submit">
            </form>
    <% } %>

		<hr>
				<%= skills.length %> Skills:
				<ul>
						<% for(let i=0;i<skills.length;i++){%>
							<li><%= skills[i].name %> </li>
						<% } %>
				</ul>



<%- include('bootfooter') -%>
