<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">

    <h3 class="pb-2 border-bottom">
      <%= problem.description %>
    </h3>
    <div class="p-2">

      

      <% if (!course.courseType.startsWith("mla") || isOwner) {
                // show the problem text 
                if (problem.mimeType=='markdown') { 
            %><div class="bg-default border border-dark rounded border-2 p-3"><%- 
                  markdownText
            %></div><% } else {
            %><div class="bg-default border border-dark rounded border-2" 
            style="white-space: pre-wrap; font-family:monospace; padding:10px"
            ><%= 
                  problem.problemText %>
            </div>
            <% }} else { 
            %><div>MLA problems are hidden from users. Only the owner can see them.</div>
              </div><% } %>
      </div>

      <hr>
      <h3>Plagiarism detection:on</h3>
     



      <% // if the user answered the question, show the answer
         if ( usersAnswers.length> 0 && status == 'submitable') { %>
            <h2>Your Answer</h2>
            <small>Submission time and date:<%= problem.createdAt %>
            </small>
            <% if (problem.answerMimeType!='image') { %>
                <h3>Text answer</h3>
                <pre class="bg-warning"><%=  usersAnswers[0].answer %></pre>
            <% } else { %>
                <h3>Image answer</h3>
                <img src="<%= usersAnswers[0].imageFilePath %>" 
                alt="answer picture" 
                class="img-fluid">
              <% } %>
            
            <br>
            

        
      <% } %>


      <% // a user can see the reviews of their answer, 
         // if they answered the question
         // whether or not it is peer-reviewable
          if ( usersAnswers.length>0) { %>
        <a href="/showReviewsOfAnswer/<%= courseId%>/<%= psetId%>/<%=  usersAnswers[0]._id %>" 
            class="btn btn-small btn-info">
          Reviews of your answer</a>
      <% } %>

    

          <a href="/showProblemSet/<%= courseId%>/<%= psetId %>" 
             class="btn btn-small btn-primary">
             Back to the Problem Set</a>

          
        


 

      <% if ((status=='closed')  && !isStaff){%>
      <h1>You may not submit answers at this time
      </h1>
      <% } else if (( usersAnswers.length==0 || status=='open') && !isStaff) { 
        // show the form to input the answer if the user has not answered the question
        // or if it is in save mode not submit mode
        // but staff don't ever answer questions, so they don't see this
        %>
        <hr>
        <% if (problem.answerMimeType != 'image'){ %>
                <h3>Submit your answer as text below</h3>

                <form method="post" action="/saveAnswer/<%= courseId%>/<%= psetId%>/<%= problem._id %>">
                  <div class="form-group">
                    <label for="answer">Enter your answer below:</label>
                    <textarea class="form-control rounded-0" id="answer" name="answer" rows="10" style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px">
<%=theAnswer.answer%></textarea>
                  </div>
                  <br>
                 
                    <% // draw a save or submit button
                     if(status=='submitable'){%>
                    <input class="btn btn-lg btn-danger" type="submit" value="submit answer text">
                    <% } else{%>
                    <input class="btn btn-lg btn-warning" type="submit" value="save answer text">
                    <% }%>
                    <a class="btn btn-primary" 
                    href="/showProblemSet/<%= problem.courseId %>/<%= problem.psetId %>">
                   Return to Problem Set without Saving</a>
          
          
                  <% // if there was an answer
                     if(theAnswer.createdAt){%>
                  <br>Last save at <%= theAnswer.createdAt
                                                                                  %>
                  
                  <% } %>
                </form>
                <% } else { %>
 
                <h3> Submit a photo of your answer</h3>

                <form method="post" action="/uploadAnswerPhoto/<%= courseId%>/<%= psetId%>/<%= problem._id %>" enctype="multipart/form-data">
                  <input type="file" id="picture" name="picture" accept="image/*" capture="environment" />
          
                  <% // draw a save or submit button
                  if(status=='submitable'){%>
                 <input class="btn btn-lg btn-danger" type="submit" value="submit answer photo">
                 <% } else{%>
                 <input class="btn btn-lg btn-warning" type="submit" value="save answer photo">
                 <% }%>
                 <% if (theAnswer.imageFilePath){%>
                 <img src="<%= theAnswer.imageFilePath %>"
                      alt="answer picture" 
                      width="100%"
                      >
                      <% } %>
                </form>

              <% } %>
          </div>
       
      <hr>
     
      <hr>
      <% }%>
      <hr>
      <%= skills.length	%>
      Skills:
      <ul>
        <% for(let i=0;i<skills.length;i++){%>
        <%if (skillsMastered.includes(skills[i]._id.toString())){%>
        <li style="color:blue">
          <%= skills[i].shortName %>::<%= skills[i].name%>
          --
          mastered!
        </li>
        <%} else{%>
        <li style="color:red">
          <%= skills[i].shortName %>::<%= skills[i].name%>
          -- not yet mastered
        </li>
        <% }%>

        <% }%>
      </ul>


    </div>
  </div>
</div>
<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>