<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
   


    <div class="p-2">
      <h6 class="pb-2 border-bottom fw-bold"> Skills required this class!
      </h6>
      <ul>
        <% for(i=0; i<=courseSkills.length-1; i++){ %>
        <li>


          <%= courseSkills[i].skillId.shortName %>:
          <a href="/editSkill/<%= courseId %>/<%= courseSkills[i].skillId._id %>">
            <%= courseSkills[i].skillId.name %>
          </a>
          <% if (isOwner) { %>
            <a href="/removeSkill/<%= courseId %>/<%= courseSkills[i].skillId._id %>">
              <i class='fas fa-trash-can' style='font-size:12px'></i> 
            </a>
            <% } %>
          <br>
          <%= courseSkills[i].skillId.description %>
          <hr>
          

        </li>
        <% } %>
      </ul>
      <hr>
    </div>

    <% // the courseOwner might want to see which skill they created
       if (isOwner) { %>
    <div class="p-2">
      <h6 class="pb-2 border-bottom fw-bold"> Skills created in this class!
      </h6>
      <ul>
        <% for(i=0; i<=skills.length-1; i++){ %>
        <li>

          <a href="/showSkill/<%= courseId %>/<%= skills[i]._id %>">
            <%= skills[i].shortName %> :: <%= skills[i].name %>
          </a>

        </li>
        <% } %>
      </ul>
      <hr>
    </div>
    <% } %>

    <div>

      <a href="/showCourse/<%= courseId %>" class="btn btn-sm btn-danger">
        Return Home
      </a>

    </div>
  </div>
</div>
<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>