<%- include('bootheader') -%>
<%- include('menubar') -%>
<script type="text/javascript" src="/js/sort-table.js"></script>
<style type="text/css">
    th,td {border:1px solid black}
</style>
    <h1>Student Info for <%= courseInfo.name %> </h1>

    Class Size = <%= studentsInfo.length %>
    <table class1="table table-bordered table-striped"
           style="border:2px solid black"
           class="js-sort-table" id="grades">
      <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th class="js-sort-number"> Problems Completed</th>
              <th class="js-sort-number"> Number of Reviewed Answers</th>
              <th class="js-sort-number"> Number of Reviews </th>
              <th class="js-sort-number"> Avg Review Score </th>
              <th> Scores per problem</th>
          </tr>
      </thead>
      <tbody>
        <% for(let i=0; i<studentsInfo.length; i++) {
            let grades = gradeSheet.grades[studentsInfo[i]._id]
            let avgReviews = []
            let numReviews = 0
            let numReviewed = 0
            let numAnswers = 0
            for (a in grades.answers) {
                numAnswers += 1
                let answer = grades.answers[a].answer
                let reviews = grades.answers[a].reviews
                let reviewScores = reviews.map((x)=>(x.points))
                let problem = gradeSheet.problems[grades.answers[a].answer.problemId]
                let score = (reviewScores.reduceRight((x,y)=>x+y,0)/(reviewScores.length * problem.points)*100)
                score = parseInt((reviewScores.length==0)?0:score)
                if (reviewScores.length>0) {
                     numReviewed += 1
                     avgReviews.push(score)
                 }
                numReviews = numReviews + reviews.length
              } %>
          <tr><td>
                <a href="/showOneStudentInfo/<%= courseInfo._id %>/<%= studentsInfo[i]._id %>">
                   <%= studentsInfo[i].googlename %>
                </a>
             </td>
              <td><%= studentsInfo[i].googleemail %> </td>
              <td> <%= numAnswers %> </td>
              <td> <%= numReviewed %> </td>
              <td> <%= numReviews %> </td>
              <td><%= (avgReviews.reduceRight((x,y)=>(x+y),0)/numReviewed).toFixed(0) %>% </td>
              <td> <%= JSON.stringify(avgReviews) %> </td>
          </tr>
        <% } %>
      </tbody>
    </table>


<%- include('bootfooter') -%>
