<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-5 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">Statistics</h1>
    <ul class="p-3 px-5 list-group list-group-flush">

      <li class="list-group-item list-group-item-light">
        <%= userCount %> users registered
      </li>
      <li class="list-group-item list-group-item-light">
        <%= problemCount %> problems created
      </li>
      <li class="list-group-item list-group-item-light">
        <%= answerCount %> answers submitted
      </li>
      <li class="list-group-item list-group-item-light">
        <%= reviewCount %> answers reviewed
      </li>
      <li class="list-group-item list-group-item-light">
        <%= courseCount %> courses created
        <% if (googleemail=="tjhickey@brandeis.edu" ){ %>
        <ol>
          <% for(let i=0; i<courses.length; i++){ %>
          <li>
            <%= courses[i].name %>
            <a href="/showCourse/<%= courses[i]._id %>">view</a>
          </li>
          <% } %>

        </ol>
        <% } %>
      </li>
    </ul>
  </div>
</div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>