<%- include('bootheader') -%>
<%- include('menubar') -%>
<% console.log("in showTAs.ejs"); console.log(courseInfo.name) %>

<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">
      <%= courseInfo.name %>
    </h1>
    <h2>Problem Set: <%= problemSet.name %></h2>

    <h3> Uploading multiple problems for a particular skill</h3>
    <form method="post" 
          enctype="multipart/form-data"
          action="/uploadProblems/<%=courseId%>/<%= psetId %>">
      Select the files containing the problems for this problem set:<br>
      <input type="file" multiple name="problems"><br>
      Select the skill for these problems: 
      <select name="skill">
        <% for (let i=0; i<skills.length; i++){ %>
          <option value="<%= skills[i]._id %>">
            <%= skills[i].shortName %> ::  <%= skills[i].name %>
          </option>
        <% } %>
      </select>
      <br> Problem MimeType:
      <select name="mimeType">
        <option>plain</option>
        <option>markdown</option>
        <option>tex</option>
      </select>
      <br> Answer MimeType
      <select name="answerMimeType">
        <option>text</option>
        <option>image</option>
      </select>
      <input type="submit" value="Upload" class="btn btn-sm btn-info">
    </form>

  </div>
</div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>